// CSS RESET

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

// GENERAL STYLES

body {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;

    overflow: hidden;
    background-color: #fffdfa;
}

.main {
}

.h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    color: #00001a;
    margin-bottom: 16px;
}

.p {
    color: #5e607a;
    margin-bottom: 24px;
}
